<div class="container-fluid">

    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
      <div fxFlex="25%">
        <div class="card-counter">
          <h4 class="count-name">Total Orders</h4>
          <h3 class="count-numbers">500</h3>
        </div>
      </div>
      <div fxFlex="25%">
        <div class="card-counter">
          <h4 class="count-name">Completed Orders</h4>
          <h3 class="count-numbers">400</h3>
        </div>
      </div>
      <div fxFlex="25%">
        <div class="card-counter">
          <h4 class="count-name">Shipped Orders</h4>
          <h3 class="count-numbers">50</h3>
        </div>
      </div>
      <div fxFlex="25%">
        <div class="card-counter">
          <h4 class="count-name">Pending Orders</h4>
          <h3 class="count-numbers">20</h3>
        </div>
      </div>
      <div fxFlex="25%">
        <div class="card-counter">
          <h4 class="count-name">Cancelled Orders</h4>
          <h3 class="count-numbers">20</h3>
        </div>
      </div>
    </div>
    <br />
  
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="space-between strech"style="padding: 10px;">
  
     
    </div>
  </div>